<h1>Welcome to BlogPress</h1>
<div class="container-fluid">
  <% for(var i=0; i<posts.length; i++) {%>
     <div class="row">
       <div class="col-md-12">
         <p>
           <i><small>Author: <%= posts[i].author %>, <span>Posted: <%= posts[i].createdAt %></span></small></i>

         </p>
         <h3 class="post-title"><a href="/posts/<%= posts[i].id %>"><%= posts[i].title %></a></h3>
         <p>
           <%= posts[i].body %>
         </p>
         <hr>
       </div>
     </div>
  <% } %>
</div>
