<h1>Welcome to BlogPress</h1>
<div class="container-fluid">
     <div class="row">
     <% for(var i=0; i<posts.length; i++) {%>
       <% if(posts[i].published) {%>
       <div class="col-md-4 homepage-post-wrapper">
         <div class="homepage-post-inner" href="/posts/<%= posts[i].id %>">
           <p>
           </p>
           <a class="post-title" href="/posts/<%= posts[i].id %>"><%= posts[i].title %></a><br />
           <i><small>
               Author: <%= posts[i].author.name %>
               <span>Posted: <%= moment(posts[i].createdAt).format('lll') %></span>
           </small></i>
           <p><%= posts[i].body.substring(0, 200) + '...' %></p>
         </div>
       </div>
       <% } %>
     <% } %>
     </div>
</div>
