<div class="container-fluid">
  <div class="row dash-wrapper">
    <div class="col-md-8 dash-nav">
      <div class="sidenav">
        <div class="row sidenav-button">
          <div class="col-md-12">
            <%- partial ('../partials/add-post-form.ejs') %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 dash-main">
      <div class="panel panel-default">
        <div class="panel-heading">Published <%= req.user.id %> </div>
        <table class="table table-hover">
          <tbody>
            <% for(var i = 0; i < published.length; i++) {%>
              <% if(published[i].author.id === req.user.id) { %>
            <tr>
              <td>
                <a href="/posts/<%= published[i].id %>"><%= published[i].title %></a>
              </td>
              <td class="text-right text-nowrap">
                <button onclick="location.href='/post/unpublish/<%= published[i].id %>';" class="btn btn-xs btn-info">Unpublish</button>
                <button onclick="location.href='/post/destroy/<%= published[i].id %>';" class="btn btn-xs btn-warning">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </td>
            </tr>
              <% } %>
            <% } %>
          </tbody>
        </table>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Drafts/Unpublished</div>
        <table class="table table-hover">
          <tbody>
            <% for(var i=0; i<unpublished.length; i++) {%>
              <% if(unpublished[i].author.id === req.user.id) { %>
            <tr>
              <td>
                <a href="/posts/<%= unpublished[i].id %>"><%= unpublished[i].title %></a>
              </td>
              <td class="text-right text-nowrap">
                <button onclick="location.href='/post/publish/<%= unpublished[i].id %>';" class="btn btn-xs btn-info">Publish</button>
                <button onclick="location.href='/post/destroy/<%= unpublished[i].id %>';" class="btn btn-xs btn-warning">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </td>
            </tr>
              <% } %>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
